*{margin: 0; padding: 0;}

body{margin: 0; padding: 0; width: 100%; height: 100%;}

header > div#div-logo{width: 40px;heigt: 38px;margin: 0;float: left;}
header > div#div-nome-sistema{background-color: #B1ABAC;width: calc(100% - 180px);height: 38px;margin: 0;text-align: center;float: left;}
header > div#div-user-logado{background-color: #B1ABAC;width: 140px;height: 38px;float: left;margin: 0;}
#div-user-logado p{margin: 0;padding:0 3px 0 0;font-size: 10pt;text-align: center;}
#div-user-logado img{border-radius: 50%;background-color: #ff0; width: 39px;height: 39px;float: left;}

/*MENU*/
#login{width: 100%;}
#login .boxin{position: absolute; width: 330px; min-height: 300px; background: #eee; left: 50%; top: 28%;}
#login .boxin{padding: 20px 20px 10px; margin-left: -181px; margin-top: -170px;}
#login .boxin h1{font-size: 30px; text-transform: uppercase; font-weight: 600; color: #09f; border-bottom: 5px solid #09f;}
#login .boxin h1{margin-bottom: 15px; padding-bottom: 5px; text-align: center;}
#login form label{display: block; margin-bottom: 15px;}
#login form label span{display: block; margin-bottom: 5px;}
#login form label input{width: 300px; padding: 10px; font-size: 18px; border: none;}
#login form .btn{margin-top: 10px;}
/*fim MENU*/

/*ID GLOBAIS*/

#formSearch{float: right;}

/*FIM DOS ID's Globais'*/
/*#############################################################################*/
/*CLASSES GLOBAIS*/
.grafico-home{width: 600px; height: 400px; margin: 0 auto;}
.form_load{display: none; vertical-align: middle;}
.j_Aviso{display: none; vertical-align: middle; color: #f00;}
.cursor-pointer{cursor: pointer;}
.cursor-pointer:hover{background-color: #ddd;color: #000; font-weight: bolder;}
.row .col-md h3{text-align: center; border-bottom: 1px solid #09f; padding: 0;}
.row{margin-bottom: 5px;}
.col label{text-transform: capitalize; font-weight: bolder;}
.tabela-dados{width: 100%;}
.tabela-dados th{font-size: 9pt; font-weight: bolder; background-color: #ccc;}
.tabela-dados td{font-size: 9pt; color: #000; font-family: 'verdana';}


/* opcoes de cadastro*/
.form-cadastra label{text-transform: capitalize; font-weight: bolder; margin-right: 5px; width: 120px; display: block;text-align: left;}
.form-cadastra hr{ background-color: #09f; height: 1px;}
.form-cadastra .opcao-cad-estabilizador,
.form-cadastra .opcao-cad-monitor,
.form-cadastra .opcao-cad-printer,
.form-cadastra .opcao-cad-cpu{display: none;}
.error{color: #f00;font-weight: bolder; font-size: 10pt; margin-left: 3px;}
/*fim opcoes de cadastro*/
/*FIM CLASSES GLOBAIS*/

/*TABS*/

.tabs h2{text-align: center; border-bottom: 2px solid #09f;margin-top: 0;padding-top: 0;}

.tabs .tabela-tab{width: 100%;}
.tabs .tabela-tab th,td{padding: 1px;}
.tabs .tab-tam-min-os{min-width: 60px;}
.tabs .tab-tam-min-pat{min-width: 110px;}

/*FIM TABS*/


@media (max-width: 1680px) {
 .tabs .tabela-tab th,td {font-size: 10pt;}
 .grafico-home{width: 500px; height: 400px; margin: 0 auto;}
}

@media (max-width: 1440px) {
 .tabs .tabela-tab th,td {font-size: 10pt;}
 .grafico-home{width: 420px; height: 340px; margin: 0 auto;}
}

@media (max-width: 1360px){
 .form-cadastra label{text-transform: capitalize; font-weight: bolder; margin-right: 5px; width: 100%; display: block;text-align: left;}
}


@media (max-width: 1024px) {
 .tabs .tabela-tab th,td {font-size: 10pt;}
 .grafico-home{width: 300px; height: 300px; margin: 0 auto;}
 .hide{display: none;}
 .form-cadastra label{text-transform: capitalize; font-weight: bolder; margin-right: 5px; width: 100%; display: block;text-align: left;}
 .cmb-localidade{width: 400px; font-size: 10pt;}
 .cmb-localidade label{font-size: 1.3em; font-weight: bolder;}
}



 


/*RODAPÉ*/
footer {position: fixed;bottom:0;left:0;background-color: #31708f;width: 100%;height: 20px;text-align: center;}