.nav-menu{width: 100%!important; height:43px; background-color:#ccc; z-index: 100;}
/*Configurações Padrões*/
ul.menu, .menu li, .menu a{ margin:0!important; padding:0; list-style:none; text-decoration:none;}
ul.menu ul{ position:absolute; display:none;/*box-shadow:3px 3px 2px #333;*/ }
 
/* Configurações nivel 1*/
ul.menu{ float:left; font-family:Verdana, Geneva, sans-serif; font-size:15px;padding:0;}
.menu li{ float:left; width:auto; position:relative;}
.menu li a{ display:block; padding:0 5px; line-height:30px; height:30px; float:left; transition:all 0.1s linear;}
 
/* Configurações nivel 2*/
.menu li:hover > ul.submenu-1{ display:block; top:30px; left:0; padding:0px; width:155px;}
.menu ul.submenu-1 a{  width:155px; padding:0 5px;}
 
/* Configurações nivel 2*/
.menu li:hover > ul.submenu-2{ display:block; top:0; left:155px; padding:0px; width:148px;}
.menu ul.submenu-2 a{  width:148px; padding:0 5px;}
 
/* Configurações nivel 3*/
.menu li:hover > ul.submenu-3{ display:block; top:0; left:148px; padding:0px; width:148px;}
.menu ul.submenu-3 a{width:148px; padding:0 5px;}
 
 
/*Configurações de cores*/
 
/*nivel 1*/
.menu{background:#CCC; }
.menu a{ color:#000;}
.menu li:hover > a{ background:#999;  color:#000;}
 
/*nivel 2*/
.submenu-1{ background:#999;}
.submenu-1 a{color:#000;}
.submenu-1 li:hover > a{ background:#bbb; }
 
/*nivel 3*/
.submenu-2{ background:#999;}
.submenu-2 a{color:#000;}
.submenu-2 li:hover > a{ background:#bbb; }
 
/*nivel 3*/
.submenu-3{ background:#999;}
.submenu-3 a{color:#000;}
.submenu-3 li:hover > a{ background:#bbb; }

/*formulario de busca*/
nav #formSearch,
nav #formSearchOs {padding-top: 6px;}
nav #formSearch input[type='search'],
nav #formSearchOs input[type='search']{padding-left: 5px; padding-right: 5px; border: 1px solid #ccc;}
nav #formSearch button,
nav #formSearchOs button{margin-left: -3px; border: 1px solid #ccc; border-left: none;}
/**/